@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.ant-layout-header {
  background: #fff !important;
}

.ant-btn-primary {
  margin-left: 5px;
  margin-right: 5px;
}

.w-50 {width: 50%;}

.w-75 {width: 75%;}

.w-100 {width: 100%;}
.logo {
  text-align: -webkit-center;
}

.ant-layout-sider {
  background: #fff;
  border-right: 1px solid #e2e2e2;
  /* border-right: 1px solid #727272; */
}

.ant-layout-sider-trigger {
  /* background: #F84F17; */
  background: #FD6B28;
}

.ant-menu-item:hover,
.ant-menu-item-active,
.ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open,
.ant-menu-submenu-active,
.ant-menu-submenu-title:hover {
  color: #FD6B28;
}

.ant-page-header-back-button:focus,
.ant-page-header-back-button:hover {
  color: #FD6B28;
}

.ant-menu-vertical .ant-menu-submenu-selected,
.ant-menu-vertical-left .ant-menu-submenu-selected,
.ant-menu-vertical-right .ant-menu-submenu-selected {
  color: #FD6B28;
}

.ant-menu-submenu-selected {
  color: #727272;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  color: #fff;
  background: #FD6B28;
}

.ant-btn-primary {
  border-color: #FD6B28;
  background: #FD6B28;
}

.ant-btn-primary:hover,
.ant-btn-primary:focus {
  border-color: #fb7b3f;
  background: #fb7b3f;
}

.ant-menu-submenu:hover>.ant-menu-submenu-title>.ant-menu-submenu-expand-icon,
.ant-menu-submenu:hover>.ant-menu-submenu-title>.ant-menu-submenu-arrow {
  color: #FD6B28;
}

.ant-menu-vertical .ant-menu-item::after,
.ant-menu-vertical-left .ant-menu-item::after,
.ant-menu-vertical-right .ant-menu-item::after,
.ant-menu-inline .ant-menu-item::after {
  border-right: 3px solid #FD6B28
}

.ant-menu-inline,
.ant-menu-vertical,
.ant-menu-vertical-left {
  border-top: 1px solid #e2e2e2;
  border-bottom: 1px solid #e2e2e2;
}

.ant-form-vertical .ant-form-item-label,
.ant-col-24.ant-form-item-label,
.ant-col-xl-24.ant-form-item-label {
  padding: 0px;
}

.ant-list-split .ant-list-header {
  border-bottom: 1px solid #e2e2e2;
}

.ant-list-bordered.ant-list-lg .ant-list-header,
.ant-list-bordered.ant-list-lg .ant-list-footer {
  background: #fafafa;
}

.ant-list-items {
  background: #fff;
}

  /* 
html {
  --antd-wave-shadow-color: #FD6B28
}

.ant-menu-vertical .ant-menu-item::after,
.ant-menu-vertical-left .ant-menu-item::after,
.ant-menu-vertical-right .ant-menu-item::after,
.ant-menu-inline .ant-menu-item::after {
  border-right: 3px solid #FD6B28
}
.ant-menu-submenu:hover > .ant-menu-submenu-title > .ant-menu-submenu-expand-icon, .ant-menu-submenu:hover > .ant-menu-submenu-title > .ant-menu-submenu-arrow{
  color: #FD6B28
}
mark {
  padding: 0.2em;
}

::selection {
  background: #FD6B28
}

.ant-menu-item:hover,
.ant-menu-item-active,
.ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open,
.ant-menu-submenu-active,
.ant-menu-submenu-title:hover {
  color: #FD6B28
}

.ant-menu-submenu-selected {
  color: rgba(0, 0, 0, 0.85)
}

.ant-menu-item-selected {
  color: #FD6B28
}
 */